<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        h2 {
            text-align: center;
            color: #333;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
        <h2>Edit Listing!</h2>
        <input name="listing[title]" value="<%= listing.title %>" type="text">
        <br/><br/>
        <textarea name="listing[description]"><%= listing.description %></textarea>
        <br/><br/>
        <input name="listing[price]" value="<%= listing.price %>" type="number">
        <br/><br/>
        <input name="listing[image]" placeholder="Enter image Url"  type="file">
        <br/><br/>
        <input name="listing[location]" value="<%= listing.location %>" type="text">
        <br/><br/>
        <button>Edit...</button>
    </form>
</body>
</html>
